<main>
    <input type="number" name="a" id="a"[(ngModel)] = "operandoA">
    <select name="operador" id="operador" [(ngModel)] = "operador">
        <option value="0">Soma</option>
        <option value="1">Subtração</option>
        <option value="2">Multiplicação</option>
        <option value="3">Divisão</option>
    </select>
    <input type="number" name="b" id="b"[(ngModel)] = "operandoB">
    <button (click) ="calcular()">Calcular</button>
    {{operandoA}}&nbsp;{{operador}}&nbsp;{{operandoB}}
</main>